body {
    margin: 0 auto;
    padding: 0;
}
/*Расположение блоков*/
/*Вресенные стили, чтобы выделить блоки*/
.container {
    width: 100%;
    border: 3px red solid !important;/*Временно*/
    display: flex;
    flex-wrap: wrap;
}
header {
    width: 100%;
    background: #ffc;/*Временно*/
}
main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
div {
    border: 3px green solid;/*Временно*/
}
/*Стили для меню-аккордеона*/
.dmElement {
    background-color: #CFD8DC;
    color: #fff;
    cursor: pointer;
    padding: 16px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.5s;
}
.active, .dmElement:hover {
    background-color: #607D8B;
}
.dmElement:after {
    content: '\002B';
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2212";
}
.panel {
    padding: 0 18px;
    color: #212121;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
